**__py_cache/
**__pycache__/

/data
/.claude/worktrees/

.DS_Store

*.pyc
*.jar
*.tsv
*.csv
*.txt
*.json

*.vcf
*.vcf.gz
*.vcf.gz.tbi

*.bed
*.bed.gz
*.bed.gz.tbi

*.bam
*.bam.bai
*.cram
*.cram.crai

*.fa
*.fa.gz
*.fa.gz.tbi

*.fasta
.*fasta.gz
*.fasta.gz.tbi

*.fai
*.fai.gz
*.fai.gz.tbi
